.cards__item__link {
    width: 100%;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
    text-decoration: none;
  }
  
  .cards__item__pic-wrap {
    position: relative;
    width: 100%;
    padding-top: 67%;
    overflow: hidden;
  }
  .fade-img {
    animation-name: fade-img;
    animation-duration: 2s;
  }
  .cards__item__pic-wrap::after {
    content: attr(data-category);
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    padding: 6px 8px;
    max-width: calc((100%) - 60px);
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background-color: #1f98f4;
    box-sizing: border-box;
  }
  .card {
    width: 100%; 
    height: 500px;
    color:#D6D600;
  }
  .cards__item__img {
    width: 100%;
  height: 100%;
  background-color: black; /* fallback color */
  background-position: center;
  background-size: cover;
  transition:all 0.3s ease-in-out;
  opacity:1;
  }
  .card:hover .cards__item__img,
.card:focus .cards__item__img {
  transform: scale(1.02);
  opacity:0.5;
}
.card:hover .card-img-overlay{
    color:#730d0d;
  text-align: center;
}

  .cards__item__img:hover {
    transform: scale(1.1);
  }
  .cards__item__info {
    padding: 20px 30px 30px;
  }
  .cards__item__text {
    color: #252e48;
    font-size: 18px;
    line-height: 24px;
  }

  .card-img-overlay>h5{
    visibility:hidden;
}
.gitLink>a{
     visibility:hidden;
     text-decoration: none;
     margin-bottom: 5px;
}
  .card-img-overlay>a{
    text-decoration: none;
}

.card-img-overlay:hover h5, .card-img-overlay:hover Button{
    visibility: visible;
}

.btn-color{
    background-color: #252e48;
}
.btn-color:hover{
    background-color: #730d0d;
}
  