.maincontainer
{
    width: 302px;
    height: 299px;
    margin: 10px;
    float: left; /* stack each div horizontally */
}

img
{
   border-radius: 10px;
   height: 300px;
}

.back h3
{
    position: absolute;
}

.pDiv
{
    position: absolute;
    top: 50px;
    font-size: 15px;
}

.front h3
{
    position: absolute;
    padding: 10px;
    top: 200px;
    color: #000;
}


.maincontainer > .front
{
    position: absolute;
    transform: perspective(600px) rotateY(0deg);
    
    width: 302px;
    height: 290px;
    
    backface-visibility: hidden; 
    transition: transform .5s linear 0s;
}


.maincontainer > .back
{
    position: absolute;
    transform: perspective(600px) rotateY(180deg);
    background: #262626;
    color: #fff;
    width: 302px;
    height: 290px;
    border-radius: 10px;
    padding: 5px;
    backface-visibility: hidden; 
    transition: transform .5s linear 0s;
}

.maincontainer:hover > .front
{
    transform: perspective(600px) rotateY(-180deg);
}

.maincontainer:hover > .back
{
    transform: perspective(600px) rotateY(0deg);
}

.btn-color{
  background-color: #252e48;
}
.btn-color:hover{
  background-color: #730d0d;
}
